@using Quaider.Component.Html
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="easyui-panel" data-options="title:'测试库'">
    测试库引用是否正确
</div>
@Html.Grid("myGrid").Sort("CreateTime").OrderBy().Columns(c =>
{
    c.Field("FullName").Title("姓名").Extends(new { A = 1, B = 2 });
}).Url("/Home/Test")
